In [1]:
import pandas as pd
import numpy as np

In [5]:
input_file = 'http://bit.ly/36gJKAM'
dataSet = pd.read_csv(input_file, header=None, names = ['C1', 'C2', 'C3', 'C4']); dataSet

     C1    C2    C3    C4
0  11.0  12.0  13.0  14.0
1   NaN  22.0   NaN  24.0
2   NaN   NaN  33.0   NaN
3  41.0  42.0  43.0   NaN
4   NaN  52.0   NaN  54.0
5  61.0  62.0  63.0   NaN
6   NaN  72.0  73.0  74.0
7  81.0  82.0  83.0  84.0

In [6]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
C1    4 non-null float64
C2    7 non-null float64
C3    6 non-null float64
C4    5 non-null float64
dtypes: float64(4)
memory usage: 336.0 bytes

## Repairing Data

To get the count of the missing (NaN) values per column in our DataFrame:

In [7]:
dataSet.isnull().sum(axis = 0)

C1    4
C2    1
C3    2
C4    3
dtype: int64

#### Which column has the most missing data?

In [9]:
dataSet2 = dataSet.drop('C1', axis=1)
dataSet2.shape

(8, 3)

In [10]:
dataSet2.isnull().sum(axis = 1)

0    0
1    1
2    2
3    1
4    1
5    1
6    0
7    0
dtype: int64

In [11]:
dataSet3 = dataSet2.drop(2, axis=0)