In [1]:
import numpy as np
import pandas as pd

In [4]:
np.random.seed(10)
sales = np.array((100 * np.random.rand (5)).astype(int))
sales

array([77,  2, 63, 74, 49])

In [5]:
location = []
for i in range(5):
    location.append('ABCDE'[i])

In [6]:
data_np = np.array([sales,location])
data_np

array([['77', '2', '63', '74', '49'],
       ['A', 'B', 'C', 'D', 'E']], dtype='<U21')

In [8]:
df = pd.DataFrame(data_np, columns = ["Sales", "Location"])

ValueError: Shape of passed values is (2, 5), indices imply (2, 2)

In [9]:
data_np = np.array([sales, location]).T
data_np

array([['77', 'A'],
       ['2', 'B'],
       ['63', 'C'],
       ['74', 'D'],
       ['49', 'E']], dtype='<U21')

In [10]:
df = pd.DataFrame(data_np, columns = ["Sales", "Location"])
df

  Sales Location
0    77        A
1     2        B
2    63        C
3    74        D
4    49        E

In [11]:
df.dtypes

Sales       object
Location    object
dtype: object

In [20]:
df.describe()

           Sales
count   5.000000
mean   53.000000
std    30.553232
min     2.000000
25%    49.000000
50%    63.000000
75%    74.000000
max    77.000000

For rename:

orders=orders.rename("old_col_name" : "new_col_name")

In [21]:
df.shape

(5, 2)

In [22]:
df.index

RangeIndex(start=0, stop=5, step=1)